<div class="container-fluid backgroundColor p-0 m-0">
  <div class="navBarIcon">
    <span class="material-icons">
      mail
    </span>
  </div>
  <div class="navBarIcon">
    <span class="material-icons">
      person_outline
    </span>
  </div>
  <div class="navBarIcon">
    <span class="material-icons">
      person_outline
    </span>
  </div>
  <div class="navBarIcon">
    <span class="material-icons">
      person_outline
    </span>
  </div>
  <div class="navBarIcon">
    <span class="material-icons">
      person_outline
    </span>
  </div>
  <div class="navBarIcon">
    <span class="material-icons">
      person_outline
    </span>
  </div>
  <div class="navBarIcon">
    <span class="material-icons">
      person_outline
    </span>
  </div>
  <div class="navBarIcon">
    <span class="material-icons">
      person_outline
    </span>
  </div>
</div>
